/* styles/globals.css */
@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
  }
}

@layer utilities {
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  @keyframes wave {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    75% { transform: rotate(20deg); }
  }

  .animate-wave {
    animation: wave 1.5s infinite;
    transform-origin: 50% 70%;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

@layer base {
  :root {
    color-scheme: light;
    --bg-main: theme(colors.gray.400);
    --bg-mid: theme(colors.gray.200);
    --bg-end: theme(colors.white);
  }

  .dark {
    color-scheme: dark;
    --bg-main: theme(colors.black);
    --bg-mid: theme(colors.black);
    --bg-end: theme(colors.black);
  }

  body {
    @apply bg-gradient-to-b transition-colors duration-300;
    background-image: linear-gradient(to bottom, var(--bg-main), var(--bg-mid), var(--bg-end));
  }
}
